In [1]:
import pandas as pd
import numpy as np

#https://github.com/EagleAdelaide/FinSen_Dataset
#df = pd.read_csv("https://raw.githubusercontent.com/EagleAdelaide/FinSen_Dataset/refs/heads/main/data.pptx/FinSen_US_Categorized_Timestamp.csv")
#df.head(10)

In [2]:
nasdaq_hist_data = pd.read_csv("./data/HistoricalData_1750671813123.csv")

#nasdaq_hist_data.describe(include=[np.number])

nasdaq_hist_data['change'] = np.round(
            (nasdaq_hist_data['Open'] - nasdaq_hist_data['Close/Last']) / nasdaq_hist_data['Open'], 5
        ).map('{:.2%}'.format)

nasdaq_hist_data.sort_values(by=['change'])
print(nasdaq_hist_data)
nasdaq_hist_data.describe()

            Date  Close/Last      Open      High       Low  change
0     06/20/2025    19447.41  19639.41  19696.11  19380.58   0.98%
1     06/18/2025    19546.27  19526.92  19660.77  19489.56  -0.10%
2     06/17/2025    19521.09  19627.08  19666.56  19485.44   0.54%
3     06/16/2025    19701.21  19550.75  19733.31  19550.75  -0.77%
4     06/13/2025    19406.83  19450.92  19591.87  19367.42   0.23%
...          ...         ...       ...       ...       ...     ...
2513  06/29/2015     4958.47   5021.21   5051.01   4956.23   1.25%
2514  06/26/2015     5080.51   5113.26   5121.47   5060.82   0.64%
2515  06/25/2015     5112.19   5139.48   5141.71   5102.16   0.53%
2516  06/24/2015     5122.41   5151.38   5164.36   5121.64   0.56%
2517  06/23/2015     5160.09   5161.68   5163.41   5139.33   0.03%

[2518 rows x 6 columns]

         Close/Last          Open          High           Low
count   2518.000000   2518.000000   2518.000000   2518.000000
mean   10478.856604  10469.472629  10541.942335  10389.865723
std     4358.962136   4373.676933   4406.118173   4336.451741
min     4266.840000      0.000000      0.000000      0.000000
25%     6791.355000   6810.307500   6864.210000   6752.575000
50%     9909.850000   9883.885000   9977.420000   9795.540000
75%    13880.995000  13887.907500  13973.185000  13770.615000
max    20173.890000  20114.980000  20204.580000  20004.730000